@media screen and (max-width:670px) {
    .header-ad {
        height:50px;
        line-height:50px;
        width:100%;
        font-size:10px;
    }

    .header-con {
        width:90%;
        margin:0 auto;
        height:50px;
        line-height:50px;
    }

    .header-con img {
        width:50%;
    }

    .header-menu {
        display:none;
    }

    .fa-circle-user fa-heart {
        display:none;
    }

    aside {
        display:none;
    }

    .sec_inner_1 {
        width:100%;
        height:100%;
        margin:0 auto;
        margin-top:5px;
    }
    .sm-search {
        display:block;
    }

    .sm-search a{
        display:block;
    }
    
    .sm-search-box {
       display:block;
    }
    
    
}
