@media screen and (max-width:670px) {
    .header-ad {
        height:50px;
        line-height:50px;
        width:100%;
        font-size:10px;
    }

    .header-con {
        width:90%;
        margin:0 auto;
        height:40px;
        line-height:40px;
    }

    .header-con img {
        width:80%;
    }

    .header-menu {
        display:none;
    }

    .header-icon {
        display:none;
    }

    .smp-icon {
        display:block;
        float:right;
        padding-left:7px;
    }
    
}
