* {
box-sizing:border-box;
}

body {
    font-family: "Hiragino Sans",sans-serif;
    margin:0;
    color:#484142;
}

.header-ad {
    height:110px;
    line-height:110px;
    width:80%;
    margin:0 auto;
    text-align: center;
    background-color:#FCC8D1;
    font-size:30px;
}

.point {
    color:#EC6996;
    font-weight: bold;
}
